<nav>
   <div class="sidenav">
  <h3 style="color: rgb(22, 115, 192);">Hi Student</h3>
  <a href="/student/student_home">Home</a>
  <a href="#clients">Today's Task</a>
  <a href="#contact">Attendance</a>
   <a href="/student/student_assignment">Assignments</a>
  <a href="#contact">Announcements</a>
  <a href="#clients">Notes</a>
  <a href="#clients">Photos</a>
  <a href="/student/student_profile">Profile</a>
  <a href="/student/student_logout" class="btn btn-danger" style="color: white;">Log out</a>
</div>
</nav> 