<nav>
   <div class="sidenav">
  <h4 style="color: rgb(22, 115, 192);">Hi {{response.tutor.Name}}</h4>
  <a href="#services">Home</a>
  <a href="#services">Profile</a>
  <a href="#clients">Students</a>
  <a href="#contact">Attendance</a>
   <a href="#services">Assignments</a>
  <a href="#clients">Notes</a>
  <a href="#contact">Announcement</a>
  <a href="#clients">Events</a>
  <a href="#contact">Photo</a>
  <a href="/logout" class="btn btn-danger" style="color: white;">Log out</a>
</div>
</nav>
