<section>
 <div class="bg-cover">
   <div class="container-image" >  
      <a href="/tutor_login"> 
        <img src="../images/Tutor-photo.jpg" alt="" style=" border-radius: 50%;
          width: 300px;height:200px;position: relative;">
          <h2 style="color: rgb(206, 26, 20);text-align: center;background-color: wheat;
           ;position: relative;">Tutor Login</h2>
          </a>
          <div class="mt-5"> 
          <a href="/student/student_login"> 
       <img src="../images/Kid-photo.jpg" alt="" style=" border-radius: 50%;
          width: 300px;height:200px;position: relative;">  
          <h2 style="color: rgb(206, 26, 20);text-align: center;background-color: wheat;
          position: relative;">Student Login</h2>
          </a> 
          </div>
   </div>
 </div>
</section>
