<section>
 <div class="bg-cover" >
   <div class="container-image">  
      <a href="../tutor/tutor_login.hbs"> 
        <img src="../images/Tutor-photo.jpg" alt="" style=" border-radius: 50%;
          width: 300px;height:200px;">
          <h2 style="color: rgb(206, 26, 20);text-align: center;background-color: wheat;
           ;">Tutor</h2>
          </a>
          <a href=""> 
       <img src="../images/Kid-photo.jpg" alt="" style=" border-radius: 50%;
          width: 300px;height:200px;">  
          <h2 style="color: rgb(206, 26, 20);text-align: center;background-color: wheat;
          ">Student</h2>
          </a> 
   </div>
 </div>
</section>
