        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 content-card" style="margin-bottom: 250px;">
                <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong> Photos</strong></h2>
                <form action="/tutor_photos" onsubmit="return showDiv()" id="image_form" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong>Name:</strong></h4> </label>
                                <input type="text" class="form-control" placeholder="Name" name="Name" id="name"
                                    required>
                            </div>
                            <div class="form-group">
                                <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> File:</strong></h4></label>
                                <input type="file" name="Image" id="image" onchange="viewImage(event)"
                                    class="form-control" required accept="image/*">
                                <center>
                                    <img src="/tutor-images/add-button.jpg" class="img-thumbnail mt-3" draggable="false"
                                        alt="" style="width: 2oopx;height:200px" id="imgView">
                                </center>
                            </div>
                            <div id="upload-progress" style="display: none;">
                                <div class="progress-bar" aria-valuenow="0" aria-valuemax="100"></div>
                            </div>
                            <button class="btn btn-success" type="submit">Save Image</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive mt-4">
                    <table class="table" width="100%" style="border-top: 5px;text-align: center;">
                        <col style="width:20%">
                        <col style="width:60%">
                        <col style="width:20%">
                        <thead style="color: rgb(67, 30, 201);background-color: rgb(230, 69, 77);">
                            <tr>
                                <th scope="col"><h4>Name</h4></th>
                                <th scope="col"><h4>Image</h4></th>
                                <th scope="col"><h4>Delete</h4></th>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgb(131, 187, 224);">
                          {{#if photos}}
                            {{#each photos}}
                            <tr>
                                <td style="color: rgb(236, 33, 6);">{{this.Name}}</td>
                                <td style="color: rgb(236, 33, 6);">
                                    <img src="/photos/{{this._id}}.jpg" class="img-thumbnail " draggable="false" alt=""
                                        style="width: 2oopx;height:200px">
                                </td>
                                <td><a href="/delete_photos/{{this._id}}" onclick="confirmation(event)"
                                        style="color: rgb(153, 43, 24);"><i class="fas fa-trash-alt"
                                            style="margin-left: 20px;"></i></a></td>
                            </tr>
                            {{/each}}
                          {{else}}
                          <tr>
                              <td colspan="3">
                               <h4>  No photos found </h4> 
                              </td>
                          </tr>
                          {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<style>
    /*Progress Bar*/
    #upload-progress {
        height: 20px;
        border: 1px solid #ddd;
        width: 100%;
    }

    #upload-progress .progress-bar {
        background: #bde1ff;
        width: 0;
        height: 20px;
    }
</style>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }

    function confirmation(ev) {
        ev.preventDefault();
        var delayInMilliseconds = 1000
        var link = ev.currentTarget.getAttribute('href')
        // console.log(link)
        swal({
            title: 'Confirmation',
            text: 'Are you sure?',
            icon: 'warning',
            buttons: true,
            dangerMode: true
        }).then((val) => {
            if (val) {
                swal({
                    title: 'Photo deleted',
                    icon: 'success',
                    buttons: { ok: false }
                })
                setTimeout(function () {
                    window.location.href = link
                }, delayInMilliseconds)
            }
        })
    }
    function showDiv() {
        document.getElementById('upload-progress').style.display = "block";
    }
    function _(el) {
        return document.getElementById(el);
    }
</script>