<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
      {{#if errors}}
      <section class="errors">
        <ul>
          {{#each errors}}
          <li>{{this.msg}}</li>
          {{/each}}
        </ul>
      </section>
      {{/if}}
      <form action="/tutor_login" method="post">
        <div class="form-group fontuser">
          <label for="Tutor-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong> Username </strong></label>
          <input type="email" style=" padding: 8px 40px;  
            margin: 8px 0;" name="Email" value="walterchemist@gmail.com" class="form-control" placeholder="Email" required><i class="fa fa-user fa-lg"></i>
        </div>
        <div class="form-group fontpassword">
          <label for="passWord" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue;"><strong> Password </strong></label>
          <input type="password" style=" padding: 8px 40px;  
            margin: 8px 0;" value="breakingbad" name="Password" class="form-control" placeholder="Password" minlength="8" required> <i class="fa fa-key fa-lg"></i> 
        </div>
        <button type="submit" class="btn btn-success" style="float: right;">Submit</button>
        {{!-- <a href="/add_tutor" style="color: red;">Add tutor</a>    --}}
      </form>
    </div>
  </div>
  </div>
</section>