<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong> Add student</strong></h2>
                    <form action="/tutor_addstudent" id="add-studentform" method="POST" enctype="multipart/form-data">
                         {{#if photoError}}
                            <div class="bar pdferror">
                               <i class="ico">&#9747;</i> {{photoError}}
                               </div>
                            {{/if}}  
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Name:</strong></label>
                            <input type="text" class="form-control" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Gender: </strong></label>
                            <input type="text" class="form-control" name="Gender" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Roll no: </strong></label>
                            <input type="number" class="form-control" name="RollNo" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Mob: </strong></label>
                            <input type="number" minlength="10" class="form-control" name="Mob" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Email:</strong></label>
                            <input type="email" class="form-control" name="Email" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Password:</strong></label>
                            <input type="password" class="form-control" name="Password" minlength="8" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><strong> Address: </strong></label>
                            <input type="text" class="form-control" name="Address" required>
                        </div>
                         <div class="form-group">
                            <label  style=" color: rgba(23, 36, 211, 0.836); "><strong> Image </strong></label>
                            <input type="file" class="form-control" name="Image" required>
                         </div>
                        <div class="buttons  mt-3 " style="padding-bottom: 20px;">
                        <button type="submit" class="btn btn-success rounded-pill btn-xl" ><strong> Save </strong></button>
                         <a href="/tutor_students" class="btn btn-danger rounded-pill btn-xl" style="float: right;" ><strong> Cancel</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const form =  document.querySelector('#add-studentform');
    var delayTime=1000
   form.addEventListener('submit',event=>{
       event.preventDefault();
       swal({
           title:'Confirmation',
           text:'Are you sure?',
           buttons:{
               cancel:true,
               Confirm:'Submit'
           }
       }).then(val =>{
           if(val){
               swal({
                   title:'Student added',
                   icon:'success',
                   buttons:{ok:false}
               })
               setTimeout(function(){
             form.submit()
               },delayTime)     
           }
       })
   })
</script>