<section>
    <div class="main">
  <img src="../images/background.jpg"  style="width:100%">
  <div class="row">  
    <div class="col-md-10 col-sm-8 col-xs-8 content-card">
            <div class="notice-card card-information">
                <div class="content" >
                    <div class="main-cat">Announcements</div>                  
                    <p class="description">*Exam Dates Published.
                         *All important question are given in whatsapp group.</p>
                </div>
            </div>    
    </div>
    </div>
    <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 content-card">     
            <div class="notice-card card-information">
                <div class="content">
                    <div class="main-cat">Events</div>          
                    <p class="description">*Seminar on 11-01-2021 at school auditorium.</p>
                </div>
            </div>   
    </div>
    </div>
</div>
</section>


