<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
     <form action="" id="verify-Otp" method="post">
        <div class="form-group">
          <label for="Tutor-login" id="label" style="font-size: x-large;block-size: 2px;
          color:rgb(233, 27, 13)"><strong> Verify OTP No: </strong></label>
          <input type="number" name="OTP" class="form-control" placeholder="Enter your OTP number">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <input type="hidden" name="otp_id" value="{{otpId}}">
         <a href="/student/student_resentOtp/{{otpId}}" class="btn btn-primary"  > Resent OTP</a>
      </form>
    </div>
  </div>
  </div>
</section>
