<section>
    <div class="main">
        {{#if status}}
        <div class="card bg-success mt-3">
    <div class="card-body text-center ">
      <p class="card-text" style="color:white;font-weight: bold">Attendance Today  :  Present</p>
    </div>
  </div>
  {{else}}
  <div class="card bg-danger mt-3">
    <div class="card-body text-center">
      <p class="card-text" style="color: white;font-weight: bold;">Attendance Today  :  Absent</p>
    </div>
  </div>
  {{/if}}
  <img src="../images/background.jpg" draggable="false" style="width:100%">
  <div class="row">  
    <div class="col-md-10 col-sm-10 col-xs-10 content-card">
            <div class="notice-card card-information">
                <div class="content" >
                    <div class="main-cat">Announcements</div>                  
                    <p class="description">*Exam Dates Published.
                         *All important question are given in whatsapp group.</p>
                </div>
            </div>    
    </div>
    </div>
    <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 content-card">     
            <div class="notice-card card-information">
                <div class="content">
                    <div class="main-cat">Events</div>          
                    <p class="description">*Seminar on 11-01-2021 at school auditorium.</p>
                </div>
            </div>   
    </div>
    </div>
</div>
</section>

