<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
     <form action="" id="sentOtp-form" method="post">
        <div class="form-group">
          <label for="Tutor-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong> Mobile No: </strong></label>
          <input type="number" name="Number" class="form-control" placeholder="Enter registered mobile number">
        </div>
        <button type="submit" class="btn btn-success" style="float: right;" >Sent OTP</button>
      </form>
    </div>
  </div>
  </div>
</section>
