<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto ">
                <h2 class="text-center" style="color: rgb(18, 14, 238);padding-top: 15px;">
                    <strong>Attendance</strong>
                </h2>
                <ul class="list-group" style="padding-bottom: 180px;padding-top: 25px;color: rgb(41, 37, 235);">
                    <li>
                        <h2>Total Days : {{totalDays}}</h2>
                    </li>
                    <li>
                        <h2>Present : {{presentDays}}</h2>
                    </li>
                    <li>
                        <h2>Absent : {{absentDays}}</h2>
                    </li>
                    <li>
                        <h2>Attendance Percentage : {{percentage}}%</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>