<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
       {{#if errors}}
      <section class="error">
        <ul>
          <li>{{errors}}</li>
        </ul>
      </section>
      {{/if}}
         {{#if error}}
      <section class="error">
          {{#each error}}
        <ul>
          <li>{{this.msg}}</li>
        </ul>
        {{/each}}
      </section>
      {{/if}}
      <form action="/student/student_changepassword" method="post">
      <div class="form-group">
          <label for="Student-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong> Username </strong></label>
          <input type="text" name="Name" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="Student-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong>Create new password </strong></label>
          <input type="text" name="newPass" class="form-control" placeholder="New password" minlength="8">
        </div>
        <div class="form-group">
          <label for="passWord" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue;"><strong>Confirm Password</strong></label>
          <input type="password" name="Password" class="form-control" placeholder="Confirm password" minlength="8">
        </div>
        <button type="submit" class="btn btn-success" style="float: right;">Confirm</button>
      </form>
    </div>
  </div>
  </div>
</section>