        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 content-card" style="margin-bottom: 280px;">
                <div class="notice-card card-information">
                    <div class="content">
                        <div class="main-cat">Photos</div>
                        {{#each photos}}
                        <center>
                            <div class="img-thumbnail card mt-5" style="width: 25rem;">
                                <img class="card-img-top" src="/photos/{{this._id}}.jpg" alt="Card image cap"
                                    draggable="false">
                                <div class="card-body">
                                    <h3 class="card-text" style="color: midnightblue;"><h4>{{this.Name}}</h4> </h3>
                                </div>
                            </div>
                        </center>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
