<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
         {{#if error}}
      <section class="error">
          {{#each error}}
        <ul>
          <li>{{this.msg}}</li>
        </ul>
        {{/each}}
      </section>
      {{/if}}
      <form action="/student/student_changepassword" method="post">
        <div class="form-group fontpassword">
          <label for="Student-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong>New password </strong></label>
          <input type="text"  style=" padding: 8px 40px;  
            margin: 8px 0;" name="newPass" class="form-control" placeholder="New password" minlength="8" required><i class="fa fa-key fa-lg"></i> 
        </div>
        <div class="form-group fontpassword">
          <label for="passWord" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue;"><strong>Confirm Password</strong></label>
          <input type="password"  style=" padding: 8px 40px;  
            margin: 8px 0;" name="Password" class="form-control" placeholder="Confirm password" minlength="8" required><i class="fa fa-key fa-lg"></i> 
        </div>
        <button type="submit" class="btn btn-success" style="float: right;">Confirm</button>
      </form>
    </div>
  </div>
  </div>
</section>