<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto">
             <div class="container  mt-3 " style="padding-bottom: 300px;">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);padding-bottom: 15px;"><strong> Announcements </strong></h2>     
              <div class="table-responsive">
                   <table class="table" width="100%" style="border-top: 5px;text-align: center;">
                    <col style="width:30%">
	                <col style="width:70%">
                    <thead style="color: rgb(67, 30, 201);background-color: rgb(230, 69, 77);">
                       {{#if announcements}}
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Subject</th>
                        </tr>
                        {{/if}}
                    </thead>
                    <tbody style="background-color: rgb(131, 187, 224);">
                        {{#each announcements}}
                     <tr>
                         <td style="color: rgb(236, 6, 6);">{{this.Date}}</td>
                         <td style="color: rgb(236, 6, 6);">
                        <a href="/student/student_announceDetails/{{this._id}}" style="color: red;"> {{this.Message}} </a>
                    </td>
                     </tr>
                   {{/each}}
                    </tbody>
                </table> 
                </div>
            </div>
        </div>
    </div>
</section>