<section>
  <div class="bg-cover" >
  <div class="container " style="display: grid;place-items: center;padding-top: 110px;">
    <div class="col-md-6 col-sm-6 col-xs-12 pt-5">
      {{#if error}}
      <section class="error">
        <ul>
          <li>{{error}}</li>
        </ul>
      </section>
      {{/if}}
      <form action="/student/student_login" method="post">
        <div class="form-group fontuser">
          <label for="Student-login" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue"><strong> Username </strong></label>
          <input type="text" value="Dustin" name="Name"style=" padding: 8px 40px;  
            margin: 8px 0;" class="form-control" placeholder="Username" required>  <i class="fa fa-user fa-lg"></i>
        </div>
        <div class="form-group fontpassword">
          <label for="passWord" id="label" style="font-size: x-large;block-size: 2px;
          color:darkblue;"><strong> Password </strong></label>
          <input type="password" value="qwerty123" name="Password" style=" padding: 8px 40px;  
            margin: 8px 0;" class="form-control" placeholder="Password" minlength="8" required> <i class="fa fa-key fa-lg"></i> 
        </div>
        <button type="submit" class="btn btn-success" style="float: right;">Submit</button>
        <a href="/student/student_sentotp" style="color: rgb(20, 34, 223);"><strong>Forgot Password </strong> </a>
         <a href="/student/student_loginUseOtp" style="color: rgb(20, 34, 223);float: right;"><strong>Login using OTP</strong> </a>
      </form>
    </div>
  </div>
  </div>
</section>